.list-posts-select{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 390px;
    flex-direction: column;
    margin: 15px;
}
.list-posts {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto; 
    scrollbar-width: thin;
    scrollbar-color: #BE8AFF #EDD7FF;
}
.select{
    width: 100px;
    height: 20px;
    border: #BE8AFF 2px solid;
    border-radius: 5px;
}

.spinner{
    width: 100%;
    overflow: none; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-cat{
    display: flex;
    background-color: #EDD7FF;
}